body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.title {
    color: orange;
}

.helf-weight {
    weight: 50px;
    padding-left: 2%;

}

.helf-weight img {
    width: 100%;

}

.flexible-container {
    display: flex;
    padding: 10px
}

.instra {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

body {
    margin: 0;
}

/* 2nd part*/

.dream {
    weight: 50px;
    padding: 60px 25px;
}

.pictures {
    display: flex;
    width: 100%
}

.manggo {
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    padding: 15px 30px;
    color: white;
    font-weight: 700;

}

.banner {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

/*3rd part*/