body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.title {
    color: orange;
}

.helf-weight {
    weight: 50px
}

.helf-weight img {
    width: 100%;
}

section {
    display: flex;
    padding: 10px
}

.instra {

    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}